$bg-color : #00f;
$color-yellow : #ff0;
$color-red : #f00;

body {
    background-color: #ddd;
}

#box1 {
    color : $color-yellow;
    background-color: $bg-color;
    width: 100px;
}

#box2 {
    color : $color-red;
    background-color: $bg-color;
    width: 100px;
}

#box3 {
    color : $color-yellow;
    background-color: $bg-color;
    width: 300px;
}

#box4 {
    color : $color-red;
    background-color: $bg-color;
    width: 300px;
}

#box5 {
    color : $color-yellow;
    background-color: $bg-color;
    width: 500px;
}